 
<mat-grid-list cols="1" rowHeight="fit">
<mat-card>
<mat-card-content>
<form  
    class="chatInput"
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="chatForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
    <input
        matInput placeholder="Enter text" formControlName="message">
    </mat-form-field>
    <mat-form-field>
    <input
        matInput  placeholder="(Optional) Enter a URL (album or image)" formControlName="url">
    </mat-form-field>
     
       <label for="file">(Optional) upload a photo:</label>
       <input type="file" (change)="upload($event)" accept=".png,.jpg" /> 
     
    <button type="submit" mat-raised-button color="primary" >Send</button>
</form>
</mat-card-content>

</mat-card>
</mat-grid-list>