
<h2>  Group timeline   </h2>
<p> Session token is:  {{sessToken}}</p>

  <table  style="width:100%">

  <div  *ngFor="let timeline of timelines"  >
    <tr>
        <td *ngIf="timeline.photoURL">
            {{timeline.name }} has added:
         <a href="{{timeline.photoURL }}" target="blank">{{timeline.photoURL }}</a>
        </td>
        <td *ngIf="timeline.message">
            {{timeline.name }} has added:
            {{timeline.message }}
        </td>

        <td  *ngIf="timeline.videoid">
            {{timeline.name }} has added:
            {{timeline.videoid }}
        </td>
    </tr>
  </div>
  </table>

   
  <button (click)="openFormModal()">Add Timeline Entry </button>
 
 
