
 

<div class="modal-header">
  <h4 class="modal-title">Add Calendar Entry</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="calendarForm" >
    <div class="form-group">
      <label>Title:</label>
        <input class="form-control" formControlName="title">
      <label>Description:</label>
      <input class="form-control" formControlName="description">
      <label>Date:</label>
      <input class="form-control" formControlName="eventDate"
       ngbDatepicker #d="ngbDatepicker" >
       <button (click)="d.toggle()">Select</button>
      </div>
      <div class="form-group">
          <label>Start Time:</label>
           <input class="form-control" formControlName="startTime">
    </div>
 
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success"  (click)="submitForm()"> Save </button>
  <button (click)="closeModal()">Close</button>
</div>