

<div class="modal-header">
  <h4 class="modal-title">Add Timeline Entry</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<p> Enter a text comment, add a photo album URL, or a Youtube video ID </p>
<div class="modal-body">
  <form [formGroup]="timelineForm"  >
    <div class="form-group">
      <label>Photo Album URL:</label>
      <input class="form-control" formControlName="photoAlbumURL">
      <label>Message:</label>
      <input class="form-control" formControlName="message">
      <label>YouTube Video Id:</label>
      <input class="form-control" formControlName="videoId">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button  class="btn btn-success" (click)="submitForm()">Save </button>
  <button (click)="closeModal()">Close</button>

</div>