 
 

<form (ngSubmit)="onSelectGroup(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
        <mat-card-title fxLayoutAlign="center">Open a group chat</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
           
            <mat-form-field>
                <mat-select placeholder="Select a group" ngModel name="group" required>
                    <mat-option *ngFor="let group of myGroups " [value]="group.id">
                            {{group.groupName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
        <button type="submit" mat-button [disabled]="f.invalid">Open the selected group</button>
        </mat-card-actions>
    </mat-card>
</form>
<h4>Current group:  {{ activeGroupName }} </h4>
