
<h2>Register for Cirquelo</h2>
<table>
  <tr *ngIf="loginError">
      <td colspan="3">
          <div class="alert alert-danger warningAlert ">
              <h2>{{loginError}}</h2>
          </div>
      </td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><input type="text" [(ngModel)]="firstname"> </td>
    <td class="error">{{firstnameError}}</td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><input type="text" [(ngModel)]="lastname"> </td>
    <td class="error">{{lastnameError}}</td>
  </tr>
  <tr>
      <td>Username</td>
      <td><input type="text" [(ngModel)]="username"> </td>
      <td class="error">{{usernameError}}</td>
  </tr>
  <tr>
      <td>Password</td>
      <td><input type="password" [(ngModel)]="password"> </td>
      <td class="error">{{passwordError}}</td>
  </tr>
  <tr>
      <td colspan="2">
          <input type="button" value="Reset" (click)="onReset()"/>
          <input type="button" value="Register" (click)="onRegister()" />
      </td>
  </tr>
</table>
