.messageContainer{
    display: flex;
    height: auto;
    width: 80%;
    min-width: 300px;
    border-radius: 2px;
    align-items:stretch;
    background-color: #eee;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
}

.example-card {
    flex: 3;
    padding: 2px;
  }

.isOwnMessageContainer{
    background-color: rgb(176, 214, 243);
}

.messageData{
    flex: 1;
    padding: 2px;
    font-size: 0.7em;
}

.sender{
    display: block;
    color: #222;
    font-weight: bold;
}

.isOwnSender{
    color: rgb(67, 48, 231);
}

.timestamp {
    color: rgb(24, 16, 16);
    font-style: italic;
}

.isOwnTimestamp{
    color: #4FC3F7;
}

.messageContent{
    height: auto;
    flex: 3;
    background-color: rgb(120, 139, 224);
    padding: 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.isOwnMessageContent{
    background-color: #E3F2FD;
    color: #01579B;
}