 
<ion-header>

  <ion-navbar>
    <ion-title>Your Family Timeline</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
     <ion-item *ngFor="let timeline of timelines"  >
        <ion-row>
            <ion-col   *ngIf="timeline.photoURL"> 
                {{timeline.name }} has added:
             <a href="{{timeline.photoURL }}" target="blank">{{timeline.photoURL }}</a>
            </ion-col>

            <ion-col   *ngIf="timeline.message">  
                {{timeline.name }} has added:
                {{timeline.message }}
            </ion-col>

            <ion-col   *ngIf="timeline.videoid"> 
                {{timeline.name }} has added:
                {{timeline.videoid }}
            </ion-col>
        </ion-row>
     </ion-item> 
  </ion-list>
     

  <ion-card>
      <ion-card-header>
          Enter a text comment, add a photo album URL, or a video ID
      </ion-card-header>
      <ion-card-content>
          <ion-list>
              <ion-item>
                <ion-label floating>Photo Album</ion-label>
                <ion-input type="text" [(ngModel)]="newTimeline.photoURL"></ion-input>
                <button ion-button color="primary" (click)="addPhotoURL()">Add a Photo URL</button>
          
              </ion-item>
          
              <ion-item>
                <ion-label floating>Comment</ion-label>
                <ion-input type="text" [(ngModel)]="newTimeline.message"></ion-input>
                <button ion-button color="primary" (click)="addMessage()">Add a comment </button>
              </ion-item>
          
              <ion-item>
                <ion-label floating>Video Id</ion-label>
                <ion-input type="text" [(ngModel)]="newTimeline.videoid">Add a video </ion-input>
              </ion-item>
            </ion-list>
      </ion-card-content>
    </ion-card>
    
    <button ion-button color="primary" (click)="addTimeline()">Add entry </button>

</ion-content>
