

<mat-card>
<mat-card-content>
<form
    class="eventInput"
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
    <input
        matInput placeholder="Event title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Start date" [matDatepicker]="startpicker" [max]="maxDate" formControlName="start">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Optional: set an end date" [matDatepicker]="endpicker" [max]="maxDate" formControlName="end">
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <select matNativeControl required placeholder="Is this an all-day event?" formControlName="allday">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Start time (eg. 10:00 AM)"  formControlName="startTime"></textarea>
    </mat-form-field>
    <mat-form-field>
            <textarea matInput placeholder="End time (eg. 11:00 AM)"  formControlName="endTime"></textarea>
        </mat-form-field>
 
    <button type="submit" mat-raised-button color="primary" >Add</button>
</form>
 

<button (click)="showModal()"> Enter time</button>
</mat-card-content>

</mat-card>

