
<mat-grid-list cols="1" rowHeight="fit">
<mat-card>
<mat-card-content>
<form
    class="eventInput"
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="eventForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
    <input
        matInput placeholder="Event title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Start date" [matDatepicker]="startpicker" [max]="maxDate" formControlName="start">
      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
      <mat-datepicker #startpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="End date" [matDatepicker]="endpicker" [max]="maxDate" formControlName="end">
      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
      <mat-datepicker #endpicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
    <input
        matInput placeholder="Is this an all-day event?" formControlName="allday">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" >Add</button>
</form>
</mat-card-content>

</mat-card>
</mat-grid-list>
